<a href="https://colab.research.google.com/github/BrenooOliveira/linkedinPosts/blob/main/namedTuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NamedTuple
- Boas práticas de código
- Erros fáceis de identificar
- Orientação a objetos sem a estrutura completa

# Aplicação - Exemplo namedTuple
- suponha que você tenha que **estruturar** os dados de um banco não-estruturado/semi-estruturado.
- O banco de origem, possue diversas colunas com diversas categorias de dados diferentes
- Precisamos identificar e separar os dados em tabelas relacionais

In [ ]:
from collections import namedtuple
def extracao_dados(*args):
    #::description:: recebe os dados e armazenam numa tupla tendo como objeto a classe 'dados'

  # my_namedTuple recebe todos os 'args' (que são tuplas dinânimcas)
  my_namedTuple = namedtuple('dados',args)
  return my_namedTuple

sabendo que você receberá diversos dados de uma fonte e deseja estruturá-los de maneira concisa

In [ ]:
# classe para inserir os dados numa tabela de dados GERAIS dos funcionarios
func_geral = extracao_dados('registro_func','nome','idade','email','cpf')

# classe para inserir os dados numa tabela de dados PROFISSIONAIS dos funcionarios
func_profissionais = extracao_dados('registro_func', 'cargo','salario','ano_inicio','ano_ultima_promocao')

### agora temos 2 objetos totalmente bem estruturadas!

In [ ]:
print('Dados gerais do Funcionário >>', func_geral('01','Breno Alves',20,'breno@exemplo.com','111.111.111-11'))

Dados gerais do Funcionário >> dados(registro_func='01', nome='Breno Alves', idade=20, email='breno@exemplo.com', cpf='111.111.111-11')

In [ ]:
print('Dados profissionais do funcionário >>',func_profissionais('01','Eng Dados',1000,2020,2024))

Dados profissionais do funcionário >> dados(registro_func='01', cargo='Eng Dados', salario=1000, ano_inicio=2020, ano_ultima_promocao=2024)

In [ ]:
# Além disso, podemos acessar cada elemento de maneira indívidual (POIS É UM OBJETO!)
var_func_geral = func_geral('01','Breno Alves',20,'breno@exemplo.com','111.111.111-11')
var_func_profissional = func_profissionais('01','Eng Dados',1000,2020,2024)

print(f'nome do funcionario: {var_func_geral.nome} || salario do funcionario: {var_func_profissional.salario}' )

nome do funcionario: Breno Alves || salario do funcionario: 1000